$color1: #0f131c;
$color2: #263248;
$color3: #6e7897;
$color4: #efefef;
$color5: #f29000;

$gutter: 3%;

$biggest-text: 1.4rem;
$second-biggest: 1.2rem;
$third-biggest: 1rem;

$default-fonts: 'Nunito', Tahoma, Geneva, Verdana, sans-serif;
$normal-weight: 400;
$bold-weight: 700;